<section class="container">
    <div class="box">
        <div class="content">
            <div class="w50">
                <div class="c-image">
                    <img src="https://d1qbemlbhjecig.cloudfront.net/prod/3.56.2/staticfiles/bento_cms/images/placeholder-image.svg" alt="Product image">
                </div>
                <div class="c-details">
                    <h3>Placeholder Name Placeholder</h3>
                    <p>
                        <span>R$</span>
                        <span>1.210,00</span>
                    </p>
                </div>
            </div>
            <div class="w50">
                <h3>Descrição do produto</h3>
                <p>Seja um mestre em multitarefas com a capacidade para exibir quatro aplicativos simultâneos na tela. A tela está ficando abarrotada? Crie áreas de trabalho virtuais para obter mais espaço e trabalhar com os itens que você deseja. Além disso, todas as notificações e principais configura</p>
            </div>
        </div>
    </div>
</section>