<section class="container">
    <div class="box">
        <div class="content">
            <div class="w50">
                <a href="">
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 21L1 11L11 1" stroke="#407BFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    VOLTAR
                </a>
                <div class="c-image">
                    <img src="https://d1qbemlbhjecig.cloudfront.net/prod/3.56.2/staticfiles/bento_cms/images/placeholder-image.svg" alt="Product image">
                </div>
                <div class="c-details">
                    <h3>Placeholder Name Placeholder</h3>
                    <p>
                        <span>R$</span>
                        <span>1.210,00</span>
                    </p>
                </div>
            </div>
            <div class="w50">
                <h3>Descrição do produto</h3>
                <p>Decrição do Produto

                    Projetado para garantir a produtividade no seu dia a dia
                    O desempenho que você precisa para uma jornada eficiente é garantido pelos processadores Intel da família Core
                    
                    Conectividade ao seu alcance
                    Saídas de áudio com qualidade HD e conexões USB estão dipooníveis na frontal do seu CorPc
                    
                    Baixo consumo
                    Mesmo trabalhando todos os dias, você não tera sustos na conta de energia. Fizemos tudo bem feito, para o seu CorPC seja eficiente, silencioso e econômico no consumo de energia elétrica
                    
                    Multitarefas
                    Seja um mestre em multitarefas com a capacidade para exibir quatro aplicativos simultâneos na tela. A tela está ficando abarrotada? Crie áreas de trabalho virtuais para obter mais espaço e trabalhar com os itens que você deseja. Além disso, todas as notificações e principais configurações são reunidas em uma única tela de fácil acesso.
                    
                    Sistema operacional completo com super pacote de programas. Alguns exemplos:
                    - WhatsApp
                    - Netflix
                    - Globo Play
                    - Google Chrome
                    - Spotify
                    - Skype
                    - Youtube
                    - Google maps
                    - Criador e editor de textos e documentos
                    - Criador e editor de planilhas
                    - Criador e editor de apresentações
                    - Criador e editor de desenho técnico
                    - Team Viewer
                    E muito mais!
                    
                    MONITOR HQ WIDESCREEN 19.5" HD
                    Brilho: 200 cd
                    Tempo de resposta: 5 ms
                    Resolução máxima / recomendada: 1366 x 768 60 Hz (HD)
                    Suporte de cores: Maior que 16 milhões
                    Conexão: HDMI e VGASeja um mestre em multitarefas com a capacidade para exibir quatro aplicativos simultâneos na tela. A tela está ficando abarrotada? Crie áreas de trabalho virtuais para obter mais espaço e trabalhar com os itens que você deseja. Além disso, todas as notificações e principais configura</p>
            </div>
        </div>
    </div>
</section>