<div class="c-filter">
    <app-button [buttonType]="1" [value]="'ADICIONAR'" [url]="'../cadastrar-usuario'"></app-button>
    <app-form-filter></app-form-filter>
</div>
<div class="c-users">
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
    <app-card-list01 [value]="'Maria'"></app-card-list01>
</div>