.c-filter{
    display: flex;
    margin: 0px auto 40px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.c-filter *{
    width: 100%;
}

.c-filter h2{
    max-width: fit-content;
}

.c-filter h2{
    font-weight: bold;
}

.c-products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .c-filter{
        flex-direction: column;
        gap: 15px;
    }
}
