<section>
    <div class="container">
        <div class="c-filter">
            <h2>Catálogo de produtos</h2>
            <form>
                <input type="text" placeholder="Pesquisar produto">
                <input type="text" placeholder="Filtrar por categoria">
                <input type="submit" value="limpar filtro">
            </form>
        </div>
        <div class="c-products">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card><app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
        <div class="c-pagination">
    
        </div>
    </div>
</section>