<section class="container">
    <div>
        <div class="c-filter">
            <h2>Catálogo de produtos</h2>
            <app-form-filter></app-form-filter>
        </div>
        <div class="c-products">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card><app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
        <div class="c-pagination">
    
        </div>
    </div>
</section>