
<div class="c-filter">
    <app-form-filter></app-form-filter>
</div>
<div class="c-products">
    <app-product-card-admin
        [title]="'Título exemplo'"
        [price]="'1.564,00'"
        [description]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias obcaecati soluta officia quidem odio animi eos adipisci, quo aspernatur ullam? Laudantium unde quia labore necessitatibus voluptatem magnam iure minima vero.'"
    ></app-product-card-admin>
    <app-product-card-admin
        [title]="'Título exemplo'"
        [price]="'1.564,00'"
        [description]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias obcaecati soluta officia quidem odio animi eos adipisci, quo aspernatur ullam? Laudantium unde quia labore necessitatibus voluptatem magnam iure minima vero.'"
    ></app-product-card-admin>
    <app-product-card-admin
        [title]="'Título exemplo'"
        [price]="'1.564,00'"
        [description]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias obcaecati soluta officia quidem odio animi eos adipisci, quo aspernatur ullam? Laudantium unde quia labore necessitatibus voluptatem magnam iure minima vero.'"
    ></app-product-card-admin>
    <app-product-card-admin
        [title]="'Título exemplo'"
        [price]="'1.564,00'"
        [description]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias obcaecati soluta officia quidem odio animi eos adipisci, quo aspernatur ullam? Laudantium unde quia labore necessitatibus voluptatem magnam iure minima vero.'"
    ></app-product-card-admin>
</div>