button{
    background-color: #407BFF;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

button *{
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    padding: 20px 30px;
}

button span{
    width: 100%;
    text-align: center;
}

button .arow{
    background-color: #2632387a;
    display: flex;
    align-items: center;
    padding: 25px 30px;

}

button .arow svg{
    height: 100%;
    padding: 0px;
}

/* Submit button */
.c-submit{
    position: relative;
    justify-content: right;
}

.c-submit button{
    background-color: transparent;
    padding: 0px 72px 0px 0px;
}

@media screen and (max-width: 416px) {

    a *,
    .c-submit svg,
    .c-submit input{
        font-size: 16px;
        padding: 0px 20px;
    }

    a span:nth-child(1), a button{
        padding: 20px 65px 20px 15px;
    }
}