a{
    background-color: #407BFF;
    border-radius: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

a *{
    color: white;
    padding: 0px 30px;
    font-weight: 700;
    font-size: 24px;
}

a span:nth-child(1){
    margin: 0px auto;
}

a .arow{
    background-color: #2632387a;
    height: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
}

a span:last-child svg{
    width: 98%;
}