a, .c-submit, input{
    background-color: #407BFF;
    border-radius: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

a *,
.c-submit svg,
.c-submit input{
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    justify-content: center;
}

a span:nth-child(1), a button{
    margin: 0px auto;
    background-color: transparent;
}

a .arow, .c-submit span{
    background-color: #2632387a;
    height: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
}

a span:last-child svg{
    width: 98%;
    padding: 0px 30px;

}

/* Submit button */
.c-submit{
    position: relative;
    justify-content: right;
}

.c-submit input{
    position: absolute;
    background-color: transparent;
    padding: 0px 72px 0px 0px;
}
