form{
    max-width: 550px;
    padding: 0px 50px;
    min-height: 780px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20PX;
    box-shadow: 0px 4px 20px 0px #00000040;
}

form h3{
    font-size: 48px;
    margin-bottom: 84px;
}

form .input-01,
form .button-master-01{
    width: 100%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 32px;
}

form span{
    text-align: left;
    width: 100%;
    margin-top: -20px;
    color: #407BFF;
}

form .button-master-01{
    margin-top: 100px;
}

form a{
    text-decoration: underline;
    color: #407BFF;
    font-weight: bold;
}

form p{
    font-weight: bold;
    color: #9E9E9E;
}



