<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" > 
    <div *ngIf="formType == 1; else register" class="content">
        <h3>LOGIN</h3>
        <app-input class="input-01" id="email" [type]="'email'" [placeholder]="'Email'" [control]="$any(profileForm.get('email'))"></app-input>
        <app-input class="input-01" [type]="'password'" [placeholder]="'Senha'" [control]="$any(profileForm.get('password'))"></app-input>
        <a class="forgot-password" routerLink="/recuperar">Esqueceu a senha?</a>
        <app-button-master class="button-master-01" [isSubmit]="true" [value]="'LOGAR'" [arrow]="true"></app-button-master>
        <p>Não tem Cadastro? <a routerLink="/cadastro">CADASTRAR</a></p>
    </div>
    <ng-template #register>
        <div *ngIf="formType == 2; else forgotPassword" class="content">
            <h3>CADASTRO</h3>
            <app-input [type]="'text'" class="input-01" [placeholder]="'Nome'"></app-input>
            <app-input [type]="'text'" class="input-01" [placeholder]="'Sobrenome'"></app-input>
            <app-input [type]="'email'" class="input-01" [placeholder]="'Email'"></app-input>
            <app-input [type]="'password'" class="input-01" [placeholder]="'Digite aqui a senha'"></app-input>
            <span>A sua senha deve ter pelo menos 8 caracteres e conter pelo menos um número</span>
            <app-input [type]="'password'" class="input-01" [placeholder]="'Repita aqui a senha'"></app-input>
            <div class="c-buttons">
                <app-button [url]="'/login'" [buttonType]="3" [value]="'CANCELAR'"></app-button>
                <app-button [buttonType]="2" [value]="'CADASTRAR'"></app-button>
            </div>
        </div>
    </ng-template>
    <ng-template #forgotPassword>
        <div class="content">
            <h3>RECUPERAÇÃO</h3>
            <div class="c-inputs">
                <app-input [type]="'email'" class="input-01 negative-margin" [placeholder]="'Digite o Email Cadastrado'"></app-input>
                <app-input [type]="'email'" class="input-01 negative-margin" [placeholder]="'Repita o Email Cadastrado'"></app-input>
            </div>
            <div class="c-buttons">
                <app-button [url]="'/login'" [buttonType]="3" [value]="'CANCELAR'"></app-button>
                <app-button [buttonType]="2" [value]="'ENVIAR'"></app-button>
            </div>
        </div>
    </ng-template>
</form>