.c-login{
    display: flex;
    justify-content: space-between;
}

.recover-formulary-01{
    width: 100%;
    max-width: 550px;
}

@media screen and (max-width: 1024px) {
    .recover-formulary-01{
        margin: 0px auto ;
        width: 100%;
    }
}